.DS_Store

codeigniter/app/cache/*
!codeigniter/app/cache/index.html
!codeigniter/app/cache/.htaccess

codeigniter/app/logs/*
!codeigniter/app/logs/index.html
!codeigniter/app/logs/.htaccess

composer.lock

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
